.bold {
  font-weight: bold;
}
.text-noraml {
  font-weight: normal;
}
.text-center {
  text-align: center;
}
.text-underligne {
  text-decoration: underline;
}
.text-lighter {
  font-weight: lighter;
}
.text-capital {
  text-transform: capitalize;
}
.text-upper {
  text-transform: uppercase;
}
.text-lower {
  text-transform: lowercase;
}
