//color variables
$primary: hsl(356, 100%, 66%);
$primary-l: hsl(355, 100%, 74%);
$secondary: hsl(0, 0%, 100%);
$gray: hsl(210, 10%, 33%);
$gray-l: hsl(201, 11%, 66%);
$gray-ll: #fcbdb4;
$blue: hsl(208, 49%, 24%);
$black: #000;
$white: #fff;
$footer: hsl(240, 10%, 16%);
//body gradiant
$body-bg-1: hsl(237, 17%, 21%);
$body-bg-2: hsl(237, 23%, 32%);
