@import url("/Price/style/rest.css");
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600;1,700&display=swap");
.p-0-5 {
  padding: 0.5rem;
}

.pt-0-5 {
  padding-top: 0.5rem;
}

.pr-0-5 {
  padding-right: 0.5rem;
}

.pl-0-5 {
  padding-left: 0.5rem;
}

.pb-0-5 {
  padding-bottom: 0.5rem;
}

.m-0-5 {
  margin: 0.5rem;
}

.mt-0-5 {
  margin-top: 0.5rem;
}

.mr-0-5 {
  margin-right: 0.5rem;
}

.ml-0-5 {
  margin-left: 0.5rem;
}

.mb-0-5 {
  margin-bottom: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-1 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1-5 {
  padding: 1.5rem;
}

.pt-1-5 {
  padding-top: 1.5rem;
}

.pr-1-5 {
  padding-right: 1.5rem;
}

.pl-1-5 {
  padding-left: 1.5rem;
}

.pb-1-5 {
  padding-bottom: 1.5rem;
}

.m-1-5 {
  margin: 1.5rem;
}

.mt-1-5 {
  margin-top: 1.5rem;
}

.mr-1-5 {
  margin-right: 1.5rem;
}

.ml-1-5 {
  margin-left: 1.5rem;
}

.mb-1-5 {
  margin-bottom: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.m-2 {
  margin: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-2-5 {
  padding: 2.5rem;
}

.pt-2-5 {
  padding-top: 2.5rem;
}

.pr-2-5 {
  padding-right: 2.5rem;
}

.pl-2-5 {
  padding-left: 2.5rem;
}

.pb-2-5 {
  padding-bottom: 2.5rem;
}

.m-2-5 {
  margin: 2.5rem;
}

.mt-2-5 {
  margin-top: 2.5rem;
}

.mr-2-5 {
  margin-right: 2.5rem;
}

.ml-2-5 {
  margin-left: 2.5rem;
}

.mb-2-5 {
  margin-bottom: 2.5rem;
}

.p-3 {
  padding: 2.7rem;
}

.pt-3 {
  padding-top: 2.7rem;
}

.pr-3 {
  padding-right: 2.7rem;
}

.pl-3 {
  padding-left: 2.7rem;
}

.pb-3 {
  padding-bottom: 2.7rem;
}

.m-3 {
  margin: 2.7rem;
}

.mt-3 {
  margin-top: 2.7rem;
}

.mr-3 {
  margin-right: 2.7rem;
}

.ml-3 {
  margin-left: 2.7rem;
}

.mb-3 {
  margin-bottom: 2.7rem;
}

.p-4 {
  padding: 3rem;
}

.pt-4 {
  padding-top: 3rem;
}

.pr-4 {
  padding-right: 3rem;
}

.pl-4 {
  padding-left: 3rem;
}

.pb-4 {
  padding-bottom: 3rem;
}

.m-4 {
  margin: 3rem;
}

.mt-4 {
  margin-top: 3rem;
}

.mr-4 {
  margin-right: 3rem;
}

.ml-4 {
  margin-left: 3rem;
}

.mb-4 {
  margin-bottom: 3rem;
}

.p-5 {
  padding: 3.5rem;
}

.pt-5 {
  padding-top: 3.5rem;
}

.pr-5 {
  padding-right: 3.5rem;
}

.pl-5 {
  padding-left: 3.5rem;
}

.pb-5 {
  padding-bottom: 3.5rem;
}

.m-5 {
  margin: 3.5rem;
}

.mt-5 {
  margin-top: 3.5rem;
}

.mr-5 {
  margin-right: 3.5rem;
}

.ml-5 {
  margin-left: 3.5rem;
}

.mb-5 {
  margin-bottom: 3.5rem;
}

.p-6 {
  padding: 4rem;
}

.pt-6 {
  padding-top: 4rem;
}

.pr-6 {
  padding-right: 4rem;
}

.pl-6 {
  padding-left: 4rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.m-6 {
  margin: 4rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mr-6 {
  margin-right: 4rem;
}

.ml-6 {
  margin-left: 4rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.p-7 {
  padding: 5rem;
}

.pt-7 {
  padding-top: 5rem;
}

.pr-7 {
  padding-right: 5rem;
}

.pl-7 {
  padding-left: 5rem;
}

.pb-7 {
  padding-bottom: 5rem;
}

.m-7 {
  margin: 5rem;
}

.mt-7 {
  margin-top: 5rem;
}

.mr-7 {
  margin-right: 5rem;
}

.ml-7 {
  margin-left: 5rem;
}

.mb-7 {
  margin-bottom: 5rem;
}

.p-8 {
  padding: 6rem;
}

.pt-8 {
  padding-top: 6rem;
}

.pr-8 {
  padding-right: 6rem;
}

.pl-8 {
  padding-left: 6rem;
}

.pb-8 {
  padding-bottom: 6rem;
}

.m-8 {
  margin: 6rem;
}

.mt-8 {
  margin-top: 6rem;
}

.mr-8 {
  margin-right: 6rem;
}

.ml-8 {
  margin-left: 6rem;
}

.mb-8 {
  margin-bottom: 6rem;
}

.p-max {
  padding: 8.5rem;
}

.pt-max {
  padding-top: 8.5rem;
}

.pr-max {
  padding-right: 8.5rem;
}

.pl-max {
  padding-left: 8.5rem;
}

.pb-max {
  padding-bottom: 8.5rem;
}

.m-max {
  margin: 8.5rem;
}

.mt-max {
  margin-top: 8.5rem;
}

.mr-max {
  margin-right: 8.5rem;
}

.ml-max {
  margin-left: 8.5rem;
}

.mb-max {
  margin-bottom: 8.5rem;
}

.primary {
  color: hsl(356deg, 100%, 66%);
}

.primary-bg {
  background-color: hsl(356deg, 100%, 66%);
}

.primary-l {
  color: hsl(355deg, 100%, 74%);
}

.primary-l-bg {
  background-color: hsl(355deg, 100%, 74%);
}

.secondary {
  color: hsl(0deg, 0%, 100%);
}

.secondary-bg {
  background-color: hsl(0deg, 0%, 100%);
}

.gray {
  color: hsl(210deg, 10%, 33%);
}

.gray-bg {
  background-color: hsl(210deg, 10%, 33%);
}

.gray-l {
  color: hsl(201deg, 11%, 66%);
}

.gray-l-bg {
  background-color: hsl(201deg, 11%, 66%);
}

.gray-ll {
  color: #fcbdb4;
}

.gray-ll-bg {
  background-color: #fcbdb4;
}

.blue {
  color: hsl(208deg, 49%, 24%);
}

.blue-bg {
  background-color: hsl(208deg, 49%, 24%);
}

.black {
  color: #000;
}

.black-bg {
  background-color: #000;
}

.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.footer {
  color: hsl(240deg, 10%, 16%);
}

.footer-bg {
  background-color: hsl(240deg, 10%, 16%);
}

.bold {
  font-weight: bold;
}

.text-noraml {
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.text-underligne {
  text-decoration: underline;
}

.text-lighter {
  font-weight: lighter;
}

.text-capital {
  text-transform: capitalize;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

.size-0-5 {
  font-size: 8px;
}

.size-0 {
  font-size: 16px;
}

.size-1 {
  font-size: 24px;
}

.size-2 {
  font-size: 27.2px;
}

.size-3 {
  font-size: 32px;
}

.size-4 {
  font-size: 40px;
}

.size-5 {
  font-size: 48px;
}

.size-6 {
  font-size: 64px;
}

:root {
  --font: "Overpass", sans-serif;
  --font-1: "Ubuntu", sans-serif;
}

* {
  font-family: var(--font);
  font-size: 16px;
}

.btn {
  padding: 1rem 4.8rem;
  border-radius: 28px;
  border: 0;
  margin: 0;
  border-radius: 50px;
  background-color: transparent;
  color: white;
}
@media (min-width: 768px) {
  .btn {
    padding: 1rem 3rem;
    margin-right: 1rem;
  }
}

.btn[class*=primary] {
  background-color: transparent;
  color: #000;
}

.btn[class*=secondary] {
  background-color: hsl(0deg, 0%, 100%) !important;
  color: hsl(355deg, 100%, 74%);
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover {
  background-color: hsl(355deg, 100%, 74%);
  color: hsl(0deg, 0%, 100%);
}

.btn[class*=secondary]:hover {
  background-color: hsl(355deg, 100%, 74%) !important;
  color: hsl(0deg, 0%, 100%) !important;
}

header,
footer,
section {
  padding: 57px 167px;
}

.text-group {
  max-width: 45%;
}
.text-group h4 {
  font-weight: 600;
}
.text-group p {
  line-height: 1.7;
}

header {
  width: 100%;
  height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background: url("/Landing-page/images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, #ff8f70, hsl(353deg, 100%, 62%));
  background-position: 25% 52%, right;
  background-size: 190%, cover;
  border-bottom-left-radius: 6rem;
}
header a {
  color: #fff;
}
header .navbar {
  display: flex;
  align-items: center;
}
header .navbar svg {
  overflow: visible;
}
header ul {
  list-style: none;
}
header .navbar-links {
  margin-left: 6%;
  margin-right: auto;
  margin-top: 1rem;
}
header .navbar-links .navbar-list {
  display: flex;
}
header .navbar-links .navbar-list-li {
  position: relative;
  margin-right: 2rem;
}
header .navbar-links .navbar-list-li svg {
  margin-left: 0.8rem;
}
header .navbar-links .navbar-list-li svg path {
  stroke: white;
}
header .navbar-links .navbar-list-li .up {
  transform: rotate(180deg);
  visibility: hidden;
  display: none;
}
header .navbar-links .navbar-list-li .down {
  visibility: visible;
  display: initial;
}
header .navbar-links .sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  visibility: hidden;
  opacity: 0;
  padding: 1rem;
  padding-right: 4rem;
  border-radius: 10px;
  top: 2rem;
  left: -1rem;
  transition: 1s;
}
header .navbar-links .sub-menu li {
  color: var(--gray-dark-color);
  margin-bottom: 0.8rem;
}
header .navbar-links .sub-menu li a:hover {
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
header .navbar-links .sub-menu a {
  color: var(--gray-dark-color);
}
header .navbar-links .navbar-list-li:hover > a {
  text-decoration: underline;
}
header .navbar-links .navbar-list-li:hover > a .up {
  visibility: visible;
  display: initial;
}
header .navbar-links .navbar-list-li:hover > a .down {
  visibility: hidden;
  display: none;
}
header .navbar-links .navbar-list-li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
header .sign {
  display: flex;
  align-items: center;
}
header .sign .btn {
  height: 50px;
  width: 140px;
  padding: 0;
  margin: 0;
}
header .header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .header-body h1 {
  letter-spacing: 0.3px;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}
header .header-body h3 {
  font-size: 20px;
}
header .header-body .btn {
  padding: 1rem;
}
header .header-body .btn[class*=primary] {
  border: 1px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%) !important;
  background-color: transparent !important;
}
header .header-body .btn[class*=primary]:hover {
  color: hsl(355deg, 100%, 74%) !important;
  background-color: hsl(0deg, 0%, 100%) !important;
}
header .header-body .btn[class*=secondary] {
  color: hsl(356deg, 100%, 66%) !important;
}
header .header-body .btn[class*=secondary]:hover {
  color: hsl(0deg, 0%, 100%) !important;
  background-color: hsl(355deg, 100%, 74%);
}

main {
  padding-top: 100px !important;
  background: hsl(0deg, 0%, 100%);
  overflow: hidden;
}
main .section {
  position: relative;
}
main .section h3 {
  font-weight: 500;
  margin-bottom: 110px !important;
}
main .section-img {
  position: absolute;
  transform: translate(30%, -3%);
  right: 0;
  top: 0;
}
main .section-1 {
  height: 910px;
}
main .section-2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background: url(/Landing-page/images/bg-pattern-circles.svg), linear-gradient(to right, hsl(237deg, 17%, 21%), hsl(237deg, 23%, 32%));
  background-position: -48% 83%, center;
  background-size: 70%, cover;
  background-repeat: no-repeat;
  border-radius: 0 100px 0 100px;
  margin-bottom: 9rem;
}
main .section-2 img {
  position: absolute;
  inset: 0;
  transform: translate(23%, -12%);
}
main .section-2 .text-group {
  max-width: 50%;
}
main .section-2 .text-group h4 {
  font-weight: 400;
  margin-left: 16px;
  font-size: 38px;
}
main .section-2 .text-group p {
  margin-left: 16px;
  letter-spacing: 0.2px;
  color: hsl(0deg, 0%, 80%);
}
main .section-3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 6.5rem;
  margin-bottom: 15.8rem;
}
main .section-3 .section-img {
  position: absolute;
  transform: translate(-28%, -3%);
  left: 0;
  top: 0;
  max-width: 925px;
}
main .section-3 .text-group {
  max-width: 50%;
}
main .section-3 .text-group h4 {
  font-weight: 500;
  margin-left: 1rem;
}
main .section-3 .text-group p {
  font-weight: 100;
  margin-left: 1rem;
  letter-spacing: 0.5px;
}

footer {
  height: 340px;
  border-radius: 0 100px 0 0;
  display: flex;
}
footer svg {
  margin-right: 12rem;
  overflow: visible;
}
footer .footer-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
footer .footer-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-section .item {
  margin-bottom: 2rem;
}
footer .item {
  color: hsl(0deg, 0%, 100%);
}
footer .sub-item {
  color: hsl(201deg, 11%, 66%);
}
footer a:hover {
  text-decoration: underline;
}

@media (max-width: 1439px) {
  header,
footer,
section {
    padding: 57px 4vw !important;
  }
  main .section-1 .section-img {
    max-width: 60% !important;
    transform: translate(30%, 10%) !important;
  }
  main .section-2 img {
    transform: translate(6%, -12%) !important;
    max-width: 50% !important;
  }
  main .section .section-img {
    max-width: 80% !important;
  }
  footer svg {
    margin-right: 4rem !important;
  }
  footer .footer-group {
    grid-column-gap: 4rem !important;
  }
}/*# sourceMappingURL=app.css.map */